@model System.Collections.Generic.List<Nop.Plugin.Pickup.PickupInStore.Models.PublicStoreModel>
@if (!Model.Any())
{
    <div style="color: grey; padding: 30px"><h3>@T("Plugins.Pickup.PickupInStore.NoPickupPoints")</h3></div>
}
@foreach (var x in Model)
{
    <div class="card">
        <div class="image-container">
            <img src="@x.PictureThumbnailUrl" alt="@x.Name">
        </div>
        <div class="card-data">
            <h4 class="card-title">@x.Name</h4>
            <p style="margin-bottom: 5px"><span class="badge @x.CloseClass">@x.CloseStatus</span> <span class="gray-color"> @x.Timing </span></p>
            <p style="margin: 5px 0">@x.Description</p>
            <p>@x.Address</p>
            <div class="buttons">
                <a href="https://www.google.com/maps/search/?api=1&query=@x.Latitude,@x.Longitude" class="outline">@T("Plugins.Pickup.PickupInStore.Public.Direction")</a>
                <a href="/" class="fill">@T("Plugins.Pickup.PickupInStore.Public.BrowseMenu")</a>

            </div>
        </div>
    </div>
}